header{
    display: flex;
    flex-wrap: wrap;
}

header h3{
    width: 50%;
}

header p{
    width: 50%;
    display: flex;
    justify-content: end;
}

button {
    background-color: purple;
    color: white;
    padding: 10px;
    font-size: 12px;
    margin: 5px;
    border-radius: 10px;
    text-align: left;
}

button:hover {
    background-color: darkblue;
}

.hide{
    display: none;
}

#intro-section, #question-section, #initial-section, #highscore-section{
    text-align: center;
}

#question-section ul{
    list-style: none;
}